# Node.js dependencies
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files in the scripts directory
scripts/.env
*.env
*.env.*

# Mac files
.DS_Store
*/.DS_Store

# Build output
dist/
**/dist/
*.tsbuildinfo
**/*.tsbuildinfo
