# Node.js dependencies
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files in the scripts directory
scripts/.env

# Optional: Ignore any .env files in any directory
*.env
